<!DOCTYPE html>
<html lang="en">
<head>
<title>froshim0</title>
</head>
<body>
<h1>Register for FroshIMs</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="Name" name="name" >
    <input type="text" placeholder="Email" name="email">
    <select name="dorm" >
<option selected value="Dorm" disabled>Dorm</option>
        <option value="Apley Court">Apley Court</option>
        <option value="Canaday">Canaday</option>
    </select>
    <input type="submit" value="Submit">
</form>

</body>
</html>
